<div class='container shadow-div' id='table-div'>
  <% if(locals.message){ %>
  <div class='alert alert-danger'>
    <strong>Warning! </strong><%= message %>
  </div>
  <% } %>
  <div class='table-container'>
    <p><h2>Your URLs</h2></p><br>
    <table class='table table-bordered'>
      <thead>
        <tr>
          <th>Original URL</th>
          <th class='short-td'>Short URL</th>
          <th width='35%' colspan='2'>
            <!-- Use POST method to /urls_create so that it is rendered to urls_new.ejs -->
            <form action='/urls/new' method='GET'>
              <button class='btn btn-success btn-sm' type='submit'>CREATE NEW URL</button>
            </form>
          </th>
        </tr>
      </thead>
      <tbody>
        <% Object.keys(urls).forEach(key =>{ %>
        <tr>
          <td><%= urls[key].address %></td>
          <td><%= urls[key].id %></td>
          <td>
            <form action='<%- `/urls/${urls[key].id}` %>' method='GET'>
              <button class='btn btn-warning btn-sm' type='submit'>VIEW/EDIT</button>
            </form>
          </td>
          <td>
            <form action='<%- `/urls/${urls[key].id}?_method=DELETE` %>' method='POST'>
              <button class='btn btn-danger btn-sm' type='submit'>DELETE</button>
            </form>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>