<div class='container'>
  <% if(locals.errName){ %>
    <div class='alert alert-danger'>
      <strong><%- `${errName}! ` %></strong><%- `${errMessage}` %><%- `${suggestion}` %>
    </div>
  <% }else{ %>
  <label for='url-summary-table'><h3>Summary Table</h3></label>
  <table class='table table-bordered' name='url-summary-table'>
    <thead>
      <th colspan='<% if(locals.stats){ %>3<% }else{ %>1<% } %>' class='long-td'>http://<%= longURL %></th>
    </thead>
    <tbody>
      <tr>
        <td>shortURL</th>
        <% if(locals.stats){ %>
        <td>Visit Stats</td>
        <td>Created On</th>
        <% } %>
      </tr>
      <tr>
        <td rowspan='2'><%= shortURL %></td>
        <% if(locals.stats){ %>
        <td>Total # of <strong>Visits</strong>: <%= `${stats.totalVisitCount}` %></td>
        <td rowspan='2'><%= `${stats.birthday}` %></td>
      </tr>
      <tr>
        <td># of Unique <strong>Visitors</strong>: <%= `${stats.uniqueVisitors}` %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
<% } %>